[profile.default]
src = "src"
out = "out"
libs = ["lib"]
solc = "0.8.26"
optimizer = true
optimizer_runs = 200
via_ir = true
ffi = true

[rpc_endpoints]
base = "https://mainnet.base.org"
celo = "https://forno.celo.org"
unichain = "https://mainnet.unichain.org"
base_sepolia = "https://sepolia.base.org"

[etherscan]
base = { key = "${BASESCAN_API_KEY}", url = "https://api.basescan.org/api" }
celo = { key = "${CELOSCAN_API_KEY}", url = "https://api.celoscan.io/api" }
unichain = { key = "${UNISCAN_API_KEY}", url = "https://api.uniscan.xyz/api" }

[fmt]
line_length = 120
tab_width = 4
bracket_spacing = false
